{
  "*.ts": [
    "tslint -p tsconfig.base.json --fix",
    "tsc -p tsconfig.base.json --noEmit",
    "prettier --write",
    "git add"
  ],
  "*.{ts,js,json,md,yml,yaml}": [
    "prettier --write",
    "git add"
  ]
}
